VITE_APP_BASE_URL="https://solutiondd.ruijieddns.com/ckk_api/"
VITE_IMG_PROFILE_URL="https://solutiondd.ruijieddns.com/ckk_api/"

# VITE_APP_IMG_URL="https://ckk.zoftdd.com/facetime/"
# VITE_IMG_PROFILE_URL="https://ckk.zoftdd.com/facetime/files/"

# VITE_LINE_REDIRECT_URL="https://liff.line.me/2008213974-neKr5jVP"

# Production API URL
# VITE_APP_BASE_URL="https://ckk.zoftdd.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://ckk.zoftdd.com/ckk_api/"

# test
# VITE_APP_BASE_URL="https://demo1.zoftdd.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://demo1.zoftdd.com/ckk_api/"